html {max-width:1200px; margin:0 auto; position:relative; background-color:#eee;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, td {font-family: "Liberation Sans", "DejaVu Sans", "Droid Sans", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;}
code, pre {font-family:"Liberation Mono", "DejaVu Sans Mono", "Droid Sans Mono", "Monaco", "Menlo", "Consolas", "Lucida Console", "Courier New", monospace;}
blockquote {margin-left:16px; padding-left:16px; border-left: 10px solid #ddd;}
.page-number {margin-right:16px;}
.next {margin-right:16px;}
.archive-year {margin-top:16px;}
a:link {color:#f30; text-decoration:none;}
a:visited {color:#f30; text-decoration:none;}
a:hover {color:#f30; text-decoration:underline;}
a:active {color:#f00; text-decoration:underline;}
img {max-width:100%; height:auto;}
#header {color:#fff; background-color:#f30;}
#header a:link {color:#fff; text-decoration:none;}
#header a:visited {color:#fff; text-decoration:none;}
#header a:hover {color:#fff; text-decoration:underline;}
#header a:active {color:#f00; text-decoration:underline;}
nav {margin-top:16px; margin-bottom:16px;}
#main {background-color:#fff;}
article {margin-top:16px; margin-bottom:16px; padding-bottom:16px; border-bottom:thin solid #f30;}
#footer {color:#fff; background-color:#f30;}
#footer a:link {color:#fff; text-decoration:none;}
#footer a:visited {color:#fff; text-decoration:none;}
#footer a:hover {color:#fff; text-decoration:underline;}
#footer a:active {color:#f00; text-decoration:underline;}
